
<Modal IsVisible="IsVisible" Title="Add new book" SaveAction="SaveData" CancleAction="OnClose">
	 <ChildContent>
        <!-- Nội dung dynamic trong modal -->
        <p>Đây là nội dung trong modal.</p>
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Title</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Error</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Author</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Error</div>
            </div>
        </form>
    </ChildContent>
    
</Modal>

@code {
    [Parameter]
    public bool IsVisible { get; set; }
    [Parameter]
    public EventCallback OnClose { get; set; }

    private void CloseModal()
    {
        IsVisible = false;
        OnClose.InvokeAsync();
    }

    private void SaveData()
    {
        // Xử lý lưu dữ liệu
        CloseModal();
    }
}
